*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.relavent-header-col1 li{
    list-style-type: none;
}
.relavent-btn{
    width:70%;
    margin: 10px 10px;
}
.relavent-btn button{
    width: 100%;
    border:1px solid #D30000;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    color: #D30000;
}
.relavent-save{
    width:20%;
    border:1px solid #7b7878;
    border-radius: 3px;
    margin: 10px;
}
.rel-save{
    margin-left: 13px;
    margin-top: 8px;
    font-size: 20px;
}
.relavent-add{
    width:100%;
    display: flex;
    justify-content: space-between;
}
.relavent-input{
    margin: 5px 10px;
}
.relavent-input select{
    width: 100%;
    padding: 5px;
    border: 1px solid rgb(174, 168, 168);
    border-radius: 3px;
    color: #7b7878;
}
.relavent-card h4{
    padding: 5px;
}
.relavent-check{
    padding: 5px;
}
.relavent-cart-inc{
    display: flex;
}
.relavent-cart-inc button{
    padding: 8px;
    background-color: #D30000;
    color: #fff;
    font-size: 20px;
    border-radius: 0px;
}
.relavent-cart-inc p{
    padding: 5px;
    border: 2px solid #D30000;
}
/* mobile  */

@media(min-width:320px){
    .relavent-row{
        display: flex;
        flex-wrap: wrap;
    }
    .relavent-col{
        width:100%;
    }
    .relavent-img img{
        width: 100%;
        height: 200px;
    }
    .relavent-header-row{
        display: flex;
       
        flex-wrap: wrap;
    }
    .relavent-header-col1{
        width:100%;
    }
    .relavent-header-col2{
        width: 100%;
        background-color: rgb(231, 221, 221);
    }
    .relavent-card{
        background-color: #fff;
        height:95%;
        margin: 10px;
        border-radius: 5px;
    }
    .relavent-filter{
        width:100%;
        margin: 10px;
    }
    .relavent-filter-btn{
        display: block;
        padding: 5px;
        width: 100%;
    }
    .relavent-header-col1{
        display: none;
    }
    /* .relavent-filter:hover .relavent-header-col{
        display: block;
    }
    .relavent-header-col{
        display: none;
    } */
}

/* i-pad  */

@media(min-width:690px){
    .relavent-row{
        display: flex;
        flex-wrap: wrap;
    }
    .relavent-col{
        width:50%;
    }
    .relavent-img img{
        width: 100%;
        height: 250px;
    }
    .relavent-header-row{
        display: flex;
        
        flex-wrap: wrap;
    }
    .relavent-header-col1{
        width:100%;
    }
    .relavent-header-col2{
        width: 100%;
        background-color: rgb(231, 221, 221);
    }
    .relavent-card{
        background-color: #fff;
        height:95%;
        margin: 10px;
        border-radius: 5px;
    }
    .relavent-filter{
        width:100%;
        margin:10px;
        display: block;
    }
    .relavent-filter-btn{
        display: block;
        padding: 5px;
        width:100%;
    }
    .relavent-header-col1{
        display: none;
    }
     /* .relavent-filter button:hover .relavent-header-col{
        display: block;
    } */
    /* .relavent-header-col{
        display: none;
    }  */
}

/* laptop */

@media(min-width:1000px){
    .relavent-row{
        display: flex;
        flex-wrap: wrap;
    }
    .relavent-col{
        width:33.33%;
    }
    .relavent-img img{
        width: 100%;
        height: 250px;
    }
    .relavent-header-row{
       display: flex;
    }
    .relavent-header-col1{
        width:20%;
    }
    .relavent-header-col2{
        background-color: rgb(231, 221, 221);
        width: 80%;
    }
    .relavent-card{
        background-color: #fff;
        height:95%;
        margin: 10px;
        border-radius: 5px;
    }
    .relavent-filter{
        display: none;
    }
    .relavent-header-col1{
        display: block;
    }
    .relavent-header-col{
        display: none;
    }
}