*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


.foot-icon-row{
    display: flex;
}
.foot-icon-detail{
    padding-top: 12%;
}
.foot-img{
    padding-top: 10%;
}
.foot-icon-1{
    border: 1px solid #3b5998;
    padding-left: 12px;
    padding-top: 10px;
    font-size: 25px;
    height: 50px;
    width: 50px;
    margin: 5px;
    background-color: #3b5998;
    border-radius: 50%;
    color: #fff;
}
.foot-icon-1:hover{
    border: 2px solid #3b5998;
    background-color: #fff;
    padding-left: 10px;
}
.foot-icon-2{
    border: 1px solid #db3236;
    padding-left: 12px;
    padding-top: 10px;
    font-size: 25px;
    height: 50px;
    width: 50px;
    margin: 5px;
    background-color: #db3236;
    border-radius: 50%;
    color: #fff;
}
.foot-icon-2:hover{
    border: 2px solid #db3236;
    background-color: #fff;
    padding-left: 12px;
}
.foot-icon-3{
    border: 1px solid #00aced;
    padding-left: 12px;
    padding-top: 10px;
    font-size: 25px;
    height: 50px;
    width: 50px;
    margin: 5px;
    background-color: #00aced;
    border-radius: 50%;
    color: #fff;
}
.foot-icon-3:hover{
    border: 2px solid #00aced ;
    background-color: #fff;
    padding-left: 12px;
}
.foot-icon-4{
    border: 1px solid #517fa4;
    padding-left: 12px;
    padding-top: 10px;
    font-size: 25px;
    height: 50px;
    width: 50px;
    margin: 5px;
    background-color: #517fa4;
    border-radius: 50%;
    color: #fff;
}
.foot-icon-4:hover{
    border: 2px solid  #517fa4;
    background-color: #fff;
    padding-left: 12px;
}
.foot-icon-1 a,.foot-icon-2 a,.foot-icon-3 a,.foot-icon-4 a{
    text-decoration: none;
    color: #fff;
}
.foot-icon-1 a:hover{
    color: #3b5998;
}
.foot-icon-2 a:hover{
    color: #db3236;
}
.foot-icon-3 a:hover{
    color: #00aced;
}
.foot-icon-4 a:hover{
    color: #517fa4;
}
.foot-col h4{
    color: #6cd138;
}
.foot-col li{
    list-style-type: none;
    padding: 5px;
    
    color: rgb(179, 173, 173);
}

/* mobile  */

@media(min-width:320px){
    .foot-row{
        display: flex;
        flex-wrap: wrap;
    }
    .foot-col{
        width:100%;
    }
}

/* i-pad  */

@media(min-width:690px){
    .foot-row{
        display: flex;
        flex-wrap: wrap;
    }
    .foot-col{
        width:50%;
    }
}

/* laptop  */

@media(min-width:1000px){
    .foot-row{
        display: flex;
    }
    .foot-col{
        width:25%;
    }
}